.App{
  display :flex;
  justify-content: space-around;
  text-align:center;
  height:50vh;
  align-items: center;
} 
.box{
  width:30vw;
  height:40vh;
  background-color:blueviolet;
  color:white;
  text-align: center;
  padding-right:20px;
}
.controls{
  width:40vw;

}